<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" content="Flappy Desinger">
    <meta name="og:url" content="www.najjacafirmetina.com">
    <meta name="og:image" content="{{ url_for('static', filename='images/thumbnail.png') }}">
    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Flappy Desinger</title>
</head>
<body>
    <div id="preloader">
        <img src="../static/preloader.gif" alt="">
        <p>Sačekaj malo</p>
    </div>
    <canvas id="board"></canvas>
</body>
</html>
